body {
  background-color: #9fad97;
}
#center_align {
  text-align: center;
}
#right_align {
  text-align: right;
}
#color_green {
  color: green;
}
#font_Trebuchet {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#big_text {
  font-size: 40px;
}
#color_white {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.center_align {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
