.middle {
  margin: auto;
  width: 600px;
  border-spacing: 0;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
table,
th,
td {
  border: 1px solid black;
  border-spacing: 1px;
}
.green_color {
  background-color: #33cc33;
}
.blue_color {
  background-color: #334899;
}
.width {
  width: 60%;
}
td.image {
  width: 250px;
}
